// Flexbox utilities
// Created: 2025-06-30 21:12:28 by vanja-san

// Display
.d-flex
  display flex

.d-inline-flex
  display inline-flex

// Direction
.flex-row
  flex-direction row

.flex-column
  flex-direction column

// Justify Content
.justify-start
  justify-content flex-start

.justify-end
  justify-content flex-end

.justify-center
  justify-content center

.justify-between
  justify-content space-between

.justify-around
  justify-content space-around

// Align Items
.items-start
  align-items flex-start

.items-end
  align-items flex-end

.items-center
  align-items center

.items-baseline
  align-items baseline

.items-stretch
  align-items stretch

// Flex Wrap
.flex-wrap
  flex-wrap wrap

.flex-nowrap
  flex-wrap nowrap

// Flex Grow & Shrink
.flex-grow-0
  flex-grow 0

.flex-grow-1
  flex-grow 1

.flex-shrink-0
  flex-shrink 0

.flex-shrink-1
  flex-shrink 1